.gear {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    background: url(src/config.png);
    background-size: contain;
    cursor: pointer;
    transition: transform 0.3s ease;
    z-index: 1001;
  }

  .gear:hover {
    transform: rotate(90deg);
  }

  /* Menu */
  .menu {
    position: fixed;
    top: 70px;
    right: 20px;
    background-color: #333;
    color: #fff;
    border-radius: 5px;
    display: none;
    flex-direction: column;
    padding: 10px 10px;
    z-index: 1000;
    align-items: stretch;
  }

  .menu a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
  }

  .menu a:hover {
    background-color: #444;
  }